body{
	background-color: black;
	color: white;
	width: 100%;
}
#container{
	width: 43%;
	height: 19em;
	margin: 0 auto;
	padding: 10px;
	border:5px groove yellow;
	background-color: maroon;
	top: 2em;
	position: relative;
	border-radius: 10px;
}
img{
	width:100%;
	height: 100%;
	margin: 0 auto;
}
#result_1{
	margin: 0 auto;
	color: black;
	width: 10em;
}
#image_load{
	width: 8em;
	height: 8em;
	margin: 0 auto;
}
input[type="submit"]{
	background-color: blue;
	width: 8em;
	height: 2em;
	color:white;
	display: block;
	margin: 0 auto;
	margin-top: 0.8em;
	padding: 1px;
}
input[type="number"]{
	width: 15em;
	height: 1.5em;
	margin: 0 auto;
	padding: 1px;
}
#play, #gues{
	display: inline-block;
	margin: 0 auto;
}
#we{
	width: 14em;
	margin: 0 auto;
	margin-top: 1em;
}